.auth-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 25rem;
  border-radius: 5%;
  background-color: #dbf5e8;
  overflow: hidden;
  &[open]::backdrop {
    background-color: rgba($color: $shadowBackgroundColor, $alpha: 0.1);
  }

  .auth-dialog-wrap {
    position: relative;
    width: 100%;
    height: 100%;

    .auth-dialog-container {
      width: 25rem;
      height: 15rem;

      .input-form-container {
        height: 12rem;
      }
    }

    .dialog-close {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      cursor: pointer;
    }
  }
}
