.video-list-wrap {
  height: auto;
  padding-top: 2.5rem;

  .video-list-container {
    margin: 0 auto;
    width: calc(100% - $outletMarginHor);
    min-width: $minWidth;
    max-width: $maxWidth;

    .video-list-ul {
      width: 100%;

      > li {
        position: relative;
        display: inline-block;
        width: calc((100% - 6rem) / 4);
        margin-right: 2rem;
        height: $videoCardHeight;
        margin-bottom: 1rem;
        color: $activeFontColor;

        &:nth-of-type(4n) {
          margin-right: 0;
        }
      }

      @media (max-width: $middleWidth) {
        > li {
          width: calc((100% - 6rem) / 3);
          margin-right: 2rem;
          &:nth-of-type(4n) {
            margin-right: 2rem;
          }

          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
