.profile-wrap {
  width: 100%;
  min-height: 100%;
  background-color: $shadowBackgroundColor;
  overflow: hidden;

  .info-wrap {
    height: calc($headerHeight * 1.5);
    margin-top: $outletMarginTop;
    padding: 0 $headerHeight;

    .info-container {
      height: 100%;
      min-width: $minWidth;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .avatar-wrap {
        height: 100%;
        margin-right: calc($headerHeight * 1.2);

        .avatar-container {
          height: 100%;
          cursor: pointer;
          border-radius: 50%;
        }
      }

      .detail-info-wrap {
        color: $activeFontColor;

        .detail-info-container {
          padding: 1rem 0;

          .nickname {
            height: 1rem;
            line-height: 1.5rem;
            font-size: 1.25rem;
          }

          .social-info {
            display: flex;
            flex-direction: row;
            height: 2.5rem;

            .social-item {
              height: 2.5rem;
              line-height: 2.5rem;

              align-items: center;

              &:not(:last-child) {
                margin-right: 1.5rem;
              }

              > div:first-child {
                font-size: 0.75rem;
              }

              .social-item-name {
                color: #848389;
                margin-right: 0.5rem;
              }
            }
          }
          .self-id {
            height: 1.5rem;
            line-height: 1.5rem;
            font-size: 0.8rem;
            color: #848389;

            :first-child {
              margin-right: 0.75rem;
            }
          }
        }
      }
    }
  }
}
