.avatar-wrap {
  display: flex;
  align-items: center;

  .avatar-entity {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $avatarHoverSize;
    height: $avatarHoverSize;
    width: auto;
    cursor: pointer;

    .header-auth-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10%;
      height: 100%;
      color: $activeFontColor;
      width: 5rem;
      color: $activeFontColor;
      background-color: $shadowBackgroundColor;

      &:hover {
        background-color: $activeBackgroundColor;
      }
    }

    .avatar-img {
      width: $avatarNormalSize;
      height: $avatarNormalSize;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        width: $avatarHoverSize;
        height: $avatarHoverSize;
      }
    }
  }
}
