.header-fixed-wrap {
  height: 0;

  .header-wrap {
    position: fixed;
    height: $headerHeight;
    width: calc(100% - $menuWidth);
    background-color: $shadowBackgroundColor;
    z-index: 1;

    .header-container {
      position: relative;
      display: flex;
      height: 100%;
      min-width: $minWidth;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
