.avatar-wrap {
  display: flex;
  align-items: center;

  .avatar-entity {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $avatarHoverSize;
    height: $avatarHoverSize;
    .avatar-img {
      width: $avatarNormalSize;
      height: $avatarNormalSize;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        width: $avatarHoverSize;
        height: $avatarHoverSize;
      }
    }
  }
}
