.dialog-wrap {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  height: 0;
  width: 300px;
  height: 100px;
  background-color: red;
  z-index: -1;
}

@keyframes dialog-show {
  0% {
    // top: 0;
    display: block;
    height: 100px;
  }

  100% {
    display: block;
    height: 100px;

    top: calc($headerHeight - ($headerHeight - $avatarNormalSize) / 2);
  }
}

.active-dialog {
  display: block;
  background-color: blue;
  height: 100px;
  animation: dialog-show 1s ease;
  top: calc($headerHeight - ($headerHeight - $avatarNormalSize) / 2);
}
