.dialog-wrap {
  position: absolute;
  display: none;
  top: 0;
  right: $toolBarMarginRight;
  height: 0;
  width: 600px;
  height: 200px;
  z-index: -1;

  .dialog-container {
    width: 100%;
    height: 100%;
    // background-color: red;
  }
}

.active-dialog {
  display: block;
  background-color: $shadowBackgroundColor;

  box-shadow: 0 0 12px rgb(0, 0, 0);
  animation: show-dialog 0.3s ease forwards;
}

@keyframes show-dialog {
  100% {
    top: calc($headerHeight);
    z-index: 2;
  }
}
