$bottomControlHeight: 3rem;

.figure-video {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: $minWidth;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &:hover {
    .video-bottom-wrap {
      bottom: 0rem;
    }
  }

  .video-instance {
    width: 100%;
    height: 100%;
  }

  .video-bottom-wrap {
    position: absolute;
    height: $bottomControlHeight;
    width: 100%;
    left: 0;
    padding: 0.25rem 0.25rem;
    bottom: calc(0rem - $bottomControlHeight);
    background-color: rgba($color: #726f6f, $alpha: 0.5);
    transition: bottom 0.5s ease;
    color: $videoControlsFontColor;
    line-height: calc($bottomControlHeight - 0.5rem);

    .video-bottom-container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {
        cursor: pointer;
      }

      .video-process-outline {
        position: absolute;
        top: -0.25rem;
        width: 100%;
        left: 0;
        height: 0.3rem;
        border-radius: 1rem;
        background-color: $videoProcessOutlineBackColor;
        transform-origin: center;
        transition: transform 0.2s ease;

        &:hover {
          transform: scaleY(3);
        }

        .video-process-inline {
          height: 100%;
          width: 0;
          background-color: $videoProcessInlineBackColor;
        }
      }

      .video-bottom-left-tool {
        display: flex;
        flex-direction: row;

        .time-division {
          margin: 0 0.25rem;
        }

        > div {
          min-width: 2rem;
        }
      }

      .video-bottom-right-tool {
        display: flex;
        flex-direction: row;

        .video-volume-controls {
          height: 100%;
        }

        > div {
          min-width: 2rem;
        }
      }
    }
  }
}
