.left-sider-wrap {
  width: $menuWidth;
  height: 0;

  .left-sider-container {
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: $shadowBackgroundColor;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
