$headerHeight: 4.25rem;
$menuWidth: 10rem;
$marginFont: 1.25rem;
$maxWidth: 90rem;
$middleWidth: 75rem;
$minWidth: 40rem;
$avatarNormalSize: 2.75rem;
$avatarHoverSize: 3rem;
$outletMarginTop: 4rem;
$outletMarginHor: 5rem;
$toolBarMarginRight: 5rem;
$HeaderDrawerWidth: 30rem;
$HeaderDrawerHeight: 12rem;
$HeaderDrawerAbsoluteTop: calc($headerHeight - ($headerHeight - $avatarNormalSize) / 2);
$activeFontColor: #e8e8e9;
$shadowFontColor: #848389;
$smoothBarColor: #fe2c55;
$shadowBackgroundColor: #161823;
$activeBackgroundColor: #272933;
$videoControlsFontColor: #e5e5e5;
$videoProcessInlineBackColor: #ffffff;
$videoProcessOutlineBackColor: #373736;
$bottomControlHeight: 3rem;
$videoCardHeight: 25rem;

.flex-hor-ver-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearfix:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(50px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
